RewriteEngine On

# Redireciona requisições de URLs contendo ".php"
RewriteCond %{THE_REQUEST} \.php [NC]
RewriteRule ^ - [F]

# Permite acesso às URLs amigáveis
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L]
